{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "optimize-regex"
  ],
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier",
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb-base",
    "eslint:recommended",
    "plugin:node/recommended",
    // must be last
    "plugin:prettier/recommended"
  ],
  "rules": {
    "strict": ["error", "never"],
    "optimize-regex/optimize-regex": "warn",
    "spaced-comment": ["error", "always", { "markers": ["/"] }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never"
      }
    ],
    "arrow-body-style": ["warn", "never"],
    "node/no-unsupported-features/es-syntax": "off",
    "node/no-missing-import": [
      "error",
      {
        "resolvePaths": ["."],
        "tryExtensions": [".js", ".json", ".node"]
      }
    ],
    "no-console": "off"
  },
  "env": {
    "browser": false,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js"]
      }
    }
  }
}
